.home {
  background-color: #171819;
}

.home-page {
  width: 90%;
  margin: auto;
}

.home-introduction {
  color: white;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-introduction h2 {
  font-size: 55px;
  font-weight: 600;
}

.home-introduction p {
  width: 500px;
}

.movie-category {
  font-size: 24px;
  color: #fff;
}

.all-movies-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}

.all-movies-in-row {
  display: flex;
  gap: 10px;
}
