.home-page {
  background-color: #171819;
  height: 100vh;
}

.home-introduction {
  width: 90%;
  margin: auto;
  color: white;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-introduction h2 {
  font-size: 55px;
  font-weight: 600;
}

.home-introduction p {
  width: 500px;
}

.movies-list {
  display: flex;
  gap: 12px;
  overflow: hidden;
}

.arrow-left,
.arrow-right {
  height: 20px;
  width: 20px;
  color: red;
  position: absolute;
  cursor: pointer;
}
.arrow-left {
  top: 40%;
  left: -30px;
}

.arrow-right {
  top: 40%;
  right: -30px;
}

.released-last-year-movies {
  position: relative;
}
